.main__profile{
    display: flex;
    position: relative;
    margin: 100px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__profile h1{
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
}

.main__profile p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
}

.btn__edit-profile{
    width: 141px;
    height: 26px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    border: none;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    margin-top: -10px;
}

.profile__recent-active{
    display: flex;
    flex-direction: column;
    width: 870px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #67727E;
}

.main__profile .profile__recent-active .profile__active-tittle p{
    font-size: 20px !important;
}