.blog__article{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 100px 86px;
}

.article__tags{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    margin-left: 125px;
}

.article__tags p,
.article__tags a{
    line-height: 43px;
}

.article__tag-header{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}